@import "tailwindcss";


::view-transition-old(root),
::view-transition-new(root){
	animation: none !important;
}

::view-transition-group(root){
	z-index: auto !important;
}

::view-transition-image-pair(root){
	isolation: isolate;
	will-change: clip-pat;
	z-index: 50;
}

::view-transition-old(root){
	animation: none !important;
	z-index: 1;
}

::view-transition-new(root){
	animation: none !important;
	z-index: 10000 !important;
}